<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Admin\IdeaProjects\cosmic-horror\out\artifacts\CosmicHorror_jar\CosmicHorror.jar</jar>
  <outfile>C:\Users\Admin\OneDrive\Робочий стіл\The Last Message\The Last Message.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Admin\Downloads\VlJRjj.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>21.0.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>